<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ .Title }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="author" content="Evan Hazlett">
        <meta name="description" content="Docker Demo">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="static/dist/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/default.css">
        <script src="static/dist/semantic.min.js"></script>
        <script src="static/js/app.js"></script>
    </head>
    <body>
        <div class="ui two column relaxed padded grid">
            <div class="six wide column meta">
                <div class="ui container">
                    <img class="logo center" src="static/img/docker.png"/>
                    <div class="row centered title">
                        <h1 class="ui header">{{ .Title }}</h1>
                    </div>
                    <div class="row centered">
                        <div class="ui huge horizontal statistic">
                            <div id="container-count" class="value"></div>
                            <div id="container-count-label" class="label"></div>
                        </div>
                    </div>
                    <div class="row centered extra-info">
                        {{ .ExtraInfo }}
                    </div>
                </div>
            </div>
            <div class="ten wide column">
                <div class="ui padded raised segment containers">
                    <div class="ui six cards doubling container-group">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
